<div style="display:flex; justify-content:center; align-items:center">
    <div style="background-color: #f8f8f8; padding: 100px">
        <div style="text-align: center;">
            <img src="{{GIFTSWAP_APIURL}}/android-chrome-192x192.png"/>
            <h3 style="margin: 20px 0 50px 0;">GIFTSWAP</h3>
        </div>

        
        <p>To reset your password, click on the link below</p>
        <div style="text-align: center;margin-top : 50px">
            {{!-- {{#if DEV }}
                <p class="btn btn-black">Link : {{ url }}</a>
            {{ else }} --}}
                <a href="{{ url }}" class="btn btn-black">Reset password</a>
            {{!-- {{/if}} --}}
        </div>
    </div>
</div>