@font-face {
    font-family: OpenSans-Light; 
    src: url(../fonts/OpenSans-Light.ttf);
}
 
@font-face {
    font-family: OpenSans-SemiBold; 
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Bold; 
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Regular; 
    src: url(../fonts/OpenSans-Regular.ttf);
}
 
@font-face {
    font-family: ErasITC-Demi; 
    src: url(../fonts/ErasITC-Demi.TTF);
}

@font-face {
    font-family: OpenSansCondensed-Bold; 
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
    font-family: OpenSansCondensed-Light; 
    src: url(../fonts/OpenSansCondensed-Light.ttf);
} 

@font-face {
    font-family: OpenSans-ExtraBold; 
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

* {
  font-family: OpenSansCondensed-Bold;
}

.btn.btn-black{
    color : white;
    background-color: black;
    padding: 0.6875rem 1.875rem ;
    font-size: 1.1875rem;
    border: 0;
    border-radius: 0.25rem;
    text-decoration: none;
}